azure.storage.blob
Werkzeug==2.2.2
flask
pandas
langchain
langchainplus-sdk
sentence_transformers
pinecone-text[dense]
openai==0.27.10
pybase64
pinecone-client
unstructured
pdf2image
pdfminer.six
opencv-python
unstructured_inference
unstructured_pytesseract
pikepdf
pypdf
flask_cors 